.border{
    margin: 6px;
    /* border: 1px solid #b1c1d1; */
    border-radius: 5px;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.icons{
    width: 30px;
    filter: invert(1);
    padding: 6px;
}

.s-icon{
    width: 23px;
    filter: invert(1);
    padding: 12px;
}

.h-icon{
    height: 50px;
    width: 50px;
    background-color: #212223;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-icon img{
    width: 30px;
    filter: invert(1);
}

.searchbar{
    position: relative;
}

.searchbar>img{
    position: absolute;
}

.padd{
    padding-top: 100px;
    padding-bottom: 50px;
}